* {
  font-family: "Markiza1.5", sans-serif;
}

.adjust {
  padding: 40px 40px;
  margin: 40px 40px;
}

.description-index {
  color: #032f40;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.boxes {
  min-width: 300px;
  max-width: 400px;
}

.imagehab {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attachment-index {
  background-image: url(../../images/index-other-main.jpg);
  background-attachment: fixed;
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-align: center;
}
.map-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.attachment-info {
  font-size: large;
}

@media only screen and (max-width: 650px) {
  .title-hero {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .subtitle-hero {
    font-size: 0.8em;
  }
  .buttonHero {
    font-size: 0.8em;
    padding: 0.8rem 1rem;
  }
}
@media only screen and (min-width: 650px) {
  * {
    font-size: 18px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .title-hero {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 10px;
  }
  .buttonHero {
    font-size: 1em;
    padding: 0.8rem 1rem;
  }
}
