.site-footer {
  background-color: #0e0e0f;
  color: white;
}
.site-footer-main {
  margin: auto;
}
.footer-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-logo {
  height: 50px;
}
.footer-box {
  min-width: 300px;
  text-align: center;
}
.site-footer-copyright {
  padding: 10px 10px;
  text-align: center;
}
