.hero-container {
  background-image: url(../images/heromain.JPG);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.hero-opacity {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-info {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.title-hero {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 20px;
}
.subtitle-hero {
  font-size: 1.5em;
}
.buttonHero {
  font-size: 1.5em;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.5s ease;
  padding: 0.6rem 1.8rem;
}

.buttonHero:hover {
  background-color: #032f40;
  color: #fff;
  border: 1px solid #032f40;
}
.button3 {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  padding: 0.5rem 1.5rem;
}
.button3:hover {
  background-color: #fff;
  color: #032f40;
  border: 1px solid #fff;
}
